.content {
    text-align: center;
    color: #b3b3b3;
    font-weight: bold;
    padding-bottom: 15px;
}
.content table{
    width: 100%;
}
    
.content table tr td {
    width: 25%;  
}

.hourlyTable{
    border: gray 1px solid;
    text-align: center;
    margin-right: 23px;
    width: 100%;
}
    
.hourlyTable tr td {
    padding: 5px;
      
}
.topText {
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
}
        
.centerText{
    text-align: center;
    font-size: 1.25vw;
    margin:0 0 0 0;
    padding:0;
}

.centerText table{
    text-align: center;
}
.bottomText{
    text-align: center;
    font-size: 1.25vw;
    font-weight: bold;
    white-space:nowrap;
}
    
    